@model MicroCarSales.Web.ViewModels.CarDetailsVM
<h2>Car Specification</h2>
<div class="well row">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Make:</label>
            <div class="col-sm-4">
                <p class="form-control-static">@Model.Car.Make</p>
            </div>
            <label class="col-sm-2 control-label">Model:</label>
            <div class="col-sm-4">
                <p class="form-control-static">@Model.Car.Model</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Price:</label>
            <div class="col-sm-4">
                <p class="form-control-static">@Model.Car.Price</p>
            </div>
            <label class="col-sm-2 control-label">Year:</label>
            <div class="col-sm-4">
                <p class="form-control-static">@Model.Car.Year</p>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Description:</label>
            <div class="col-sm-10">
                <p class="form-control-static">@Model.Car.Description</p>
            </div>
        </div>
        <div class="form-group">
            @foreach (string name in Model.ImageFileNames)
            {
                <a href="/CarImages/Car@(Model.Car.Id)/@name" target="_blank">
                    <img src="/CarImages/Car@(Model.Car.Id)/@name" width="80" />
                </a>
            }
        </div>
    </form>
</div>
